[Desktop Entry]
Name=sxiv
Exec=sxiv %F
Terminal=false
Type=Application
Categories=Graphics;Viewer;
MimeType=image/png;image/jpeg;image/gif;image/webp;image/svg+xml;image/tiff;
